openapi: 3.0.3
info:
  title: Keploy Public API
  version: 1.0.0
  description: |
    Programmatic access to the Keploy platform for CI/CD pipelines, scripts,
    and AI agents. See the full guide at
    <https://keploy.io/docs/running-keploy/public-api/>.

    **Scopes and 403 errors:** Every endpoint requires a minimum scope (`read`,
    `write`, or `admin`). If the API key lacks the required scope the server
    returns `403 Forbidden` with error code `INSUFFICIENT_SCOPE`.
  contact:
    email: support@keploy.io
  termsOfService: https://keploy.io/terms

servers:
  - url: https://api.keploy.io/client/v1
    description: Production
  - url: https://api.staging.keploy.io/client/v1
    description: Staging

security:
  - apiKeyAuth: []

tags:
  - name: Apps
  - name: Clusters
  - name: Recordings
  - name: Test Reports
  - name: Test Suites
  - name: Test Runs
  - name: Jobs
  - name: Load Tests
  - name: Generation History
  - name: Company
  - name: Users
  - name: API Keys

paths:
  # ── Apps ──────────────────────────────────────────────────────────────
  /apps:
    get:
      operationId: listApps
      x-required-scope: read
      summary: List apps
      description: "Returns the tenant's apps. Use the optional `q` query parameter to name-filter (case-insensitive substring, e.g. `?q=orderflow` → apps whose name contains 'orderflow'); without it the full paginated list is returned. Callers that know the app's folder / repo name should pass it as `q` to avoid paginating through hundreds of apps. Requires scope: `read`."
      tags: [Apps]
      parameters:
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
        - in: query
          name: q
          description: "Case-insensitive substring to filter app names by. Omit to list all apps."
          required: false
          schema:
            type: string
      responses:
        "200":
          description: App list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeAppList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createApp
      x-required-scope: write
      summary: Create an app
      description: "Requires scope: `write`."
      tags: [Apps]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAppRequest"
      responses:
        "201":
          description: App created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeApp"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409":
          description: App already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeError"
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}:
    parameters:
      - $ref: "#/components/parameters/appId"
    get:
      operationId: getApp
      x-required-scope: read
      summary: Get an app
      description: |
        Requires scope: `read`.

        Optional `fields` query parameter projects the response to a subset
        of properties — useful for MCP / AI callers that only need a few
        identity fields (e.g. `["name","namespace","deployment","origin.clusterName"]`)
        and don't want the full ~16k-token embedded schema in their context.
        Supports dotted paths for nested objects. Omitting `fields` returns
        the full envelope as before.
      tags: [Apps]
      parameters:
        - name: fields
          in: query
          required: false
          description: |
            Optional comma-separated list of response field paths to keep.
            Each path is dotted (e.g. `origin.clusterName`). When set, the
            response is projected to just those paths inside `data`; the
            envelope shape (`{data, meta?}`) is preserved.
          schema:
            type: array
            items: { type: string }
          style: form
          explode: false
      responses:
        "200":
          description: App detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeApp"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    put:
      operationId: updateApp
      x-required-scope: write
      summary: Update an app
      description: "Requires scope: `write`."
      tags: [Apps]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAppRequest"
      responses:
        "200":
          description: App updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeApp"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteApp
      x-required-scope: admin
      summary: Delete an app
      description: "Requires scope: `admin`."
      tags: [Apps]
      responses:
        "200":
          description: App deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeDeleted"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Schema Coverage ───────────────────────────────────────────────────
  /apps/{appId}/schema-coverage:
    parameters:
      - $ref: "#/components/parameters/appId"
    get:
      operationId: getSchemaCoverage
      x-required-scope: read
      summary: Get schema coverage
      description: "Requires scope: `read`."
      tags: [Apps]
      responses:
        "200":
          description: Schema coverage data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Clusters ─────────────────────────────────────────────────────────
  /clusters:
    get:
      operationId: listClusters
      summary: List clusters
      description: "Returns all clusters for the authenticated company. Requires scope: `read`."
      x-required-scope: read
      tags: [Clusters]
      responses:
        "200":
          description: Cluster list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeClusterList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createCluster
      summary: Create a cluster
      description: "Provisions a new cluster in the authenticated company and returns its access key. The access key is shown only once. Requires scope: `admin`."
      x-required-scope: admin
      tags: [Clusters]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClusterRequest"
      responses:
        "201":
          description: Cluster created (includes access key, shown only once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeClusterCreated"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/by-cluster/{clusterId}:
    parameters:
      - $ref: "#/components/parameters/clusterId"
    get:
      operationId: listAppsByCluster
      summary: List apps in a cluster
      description: "Returns apps belonging to a specific cluster. More efficient than iterating all apps. Requires scope: `read`."
      x-required-scope: read
      tags: [Clusters]
      responses:
        "200":
          description: Apps in cluster
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeAppByClusterList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Recordings (integration test recordings from k8s-proxy) ──────────
  /apps/with-recordings:
    get:
      operationId: listAppsWithRecordings
      summary: List proxy apps with network recordings
      description: "Returns all k8s-proxy apps (origin.type=PROXY). These apps are auto-created by the Keploy k8s-proxy agent on first recording and contain network recordings of ingress HTTP traffic (as Keploy test cases) and egress dependency calls — database queries, external API calls, message queues — captured as Keploy mocks. Use listRecordings and getRecording to access the recorded request/response pairs and dependency mocks from live environments. Requires scope: `read`."
      x-required-scope: read
      tags: [Recordings]
      responses:
        "200":
          description: Apps with recordings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeAppWithRecordingsList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/recordings:
    parameters:
      - $ref: "#/components/parameters/appId"
    get:
      operationId: listRecordings
      summary: List recording sessions
      description: "Returns test sets (recording sessions) for an app. Requires scope: `read`."
      x-required-scope: read
      tags: [Recordings]
      parameters:
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Recording sessions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeTestSetList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/recordings/{testSetId}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/testSetId"
    get:
      operationId: getRecording
      summary: Get recorded test cases
      description: "Returns individual recorded test cases within a test set, including HTTP request/response data. Requires scope: `read`."
      x-required-scope: read
      tags: [Recordings]
      parameters:
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Recorded test cases
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeTestCaseList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/generated-schema:
    parameters:
      - $ref: "#/components/parameters/appId"
    get:
      operationId: getGeneratedSchema
      summary: Get auto-generated OpenAPI schema
      description: "Returns the OpenAPI schema auto-generated from recorded traffic. Requires scope: `read`."
      x-required-scope: read
      tags: [Recordings]
      responses:
        "200":
          description: Generated schema
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeGeneratedSchema"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/recordings/{testSetId}/mocks:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/testSetId"
    get:
      operationId: listMocks
      summary: List mocks for a recording
      description: "Returns mock reference metadata and optionally parsed mock specs for a test set. Use ?include_specs=true to download and parse the actual mock YAML from object storage. Pass `branch_id` to scope the read to a branch overlay (bundle-uploaded recordings on a branch are invisible to main reads). Requires scope: `read`."
      x-required-scope: read
      tags: [Recordings]
      parameters:
        - name: include_specs
          in: query
          schema:
            type: boolean
            default: false
          description: "When true, download and parse the actual mock YAML specs from object storage."
        - $ref: "#/components/parameters/branchId"
      responses:
        "200":
          description: Mock reference metadata and optionally parsed specs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeMockList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createMock
      summary: Author one mock under a recording
      description: |
        Insert a single mock into the given test set. When `branch_id` is
        supplied, the mock lands on that branch's overlay
        (`branch_sandbox_ops`) and only surfaces to main on merge.
        Without `branch_id` the mock writes straight to main — same
        behaviour as the recording-driven agent path.

        Authoring shape — pick ONE:

        - **`mock_yaml`** (PREFERRED) — paste the canonical mock YAML
          envelope (`version` / `kind` / `name` / `spec` with the
          per-kind payload, exactly as it lives in `mocks.yaml` on
          disk). The server decodes via OSS DecodeMocks so kind-
          specific Spec contents (`req`, `resp`, `metadata`, …)
          round-trip without field-name loss. This is the only path
          that preserves payloads pasted from existing mocks.
        - **`mock`** — typed OSS Mock JSON object. Brittle: the OSS
          struct uses PascalCase JSON tags (`Metadata`, `Req`, `Res`),
          so lowercase canonical keys are silently dropped. Use only
          when authoring programmatically from typed Go shapes.

        When both are sent, `mock_yaml` wins.

        Requires scope: `write`.
      x-required-scope: write
      tags: [Recordings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              # mock is no longer required at the schema level — mock_yaml
              # is the preferred path and either one suffices. The service
              # rejects requests that supply neither.
              properties:
                mock:
                  type: object
                  description: OSS Mock — see schema in keploy.io/server/v3 pkg/models/mock.go. Use only when authoring from typed Go shapes. Lowercase YAML keys are dropped; prefer mock_yaml.
                mock_yaml:
                  type: string
                  description: Canonical single-doc mock YAML (version/kind/name/spec). Preferred over `mock`. Round-trips kind-specific contents losslessly.
                branch_id:
                  type: string
                  description: Optional branch overlay id. Absent → write lands on main.
      responses:
        "200":
          description: Inserted mock
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeMockSingle"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/recordings/{testSetId}/mocks/{mockId}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/testSetId"
      - name: mockId
        in: path
        required: true
        schema: { type: string }
        description: Mock id (UUID assigned at insert) OR human-readable mock name. The server resolves names within the test set, so the UI can pass either form.
    get:
      operationId: getMock
      summary: Read one mock's canonical YAML
      description: |
        Returns the canonical mock YAML doc (version/kind/name/spec)
        for the named mock in the given test set. Branch-aware: when
        `branch_id` is supplied, a branch-only upsert or tombstone
        takes precedence over main.

        Authoring workflow for AI agents: call this BEFORE updateMock
        to fetch the existing payload, edit fields locally, then
        round-trip the result through `mock_yaml` on updateMock.

        Requires scope: `read`.
      x-required-scope: read
      tags: [Recordings]
      parameters:
        - name: branch_id
          in: query
          schema: { type: string }
          description: Optional branch overlay id. Absent → reads from main.
      responses:
        "200":
          description: Canonical mock YAML
          content:
            application/json:
              schema:
                type: object
                required: [success, metadata, mockName]
                properties:
                  success: { type: boolean }
                  metadata:
                    type: string
                    description: Canonical single-doc mock YAML.
                  mockName:
                    type: string
                    description: Resolved mock name (mirrors the path param when caller passed an id).
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    put:
      operationId: updateMock
      summary: Replace one mock's stored data
      description: |
        Updates the mock identified by `{mockId}` in the path. The body
        carries the full replacement. Two shapes — pick ONE:

        - **`mock_yaml`** (PREFERRED) — canonical mock YAML envelope.
          See createMock for the field-loss rationale.
        - **`mock`** — typed OSS Mock JSON. Brittle for lowercase keys.

        When both are sent, `mock_yaml` wins.

        Branch-aware via the optional `branch_id` body field — same
        semantics as createMock.

        Accepts both the mock's UUID `_id` and its human-readable Name
        as `mockId` — the server resolves names within the test set, so
        UI callers (which don't have access to the mock's `_id`) can
        pass the Name directly.

        Requires scope: `write`.
      x-required-scope: write
      tags: [Recordings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mock:
                  type: object
                  description: OSS Mock — typed full replacement payload. Prefer mock_yaml.
                mock_yaml:
                  type: string
                  description: Canonical single-doc mock YAML. Preferred path.
                branch_id:
                  type: string
      responses:
        "200":
          description: Updated mock
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeMockSingle"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteMock
      summary: Drop one mock
      description: |
        Idempotent — returns 200 even if the mock is already gone. Path
        `{mockId}` accepts both the UUID `_id` and the human-readable
        Name (resolved within the test set).

        Branch-aware via optional `branch_id` query param.

        Requires scope: `write`.
      x-required-scope: write
      tags: [Recordings]
      parameters:
        - name: branch_id
          in: query
          schema: { type: string }
          description: |
            Optional branch overlay id. When set, the delete writes a
            tombstone op onto the branch's overlay (main untouched
            until the branch merges). When absent, the delete applies
            to main directly — no tombstone is involved.
      responses:
        "200":
          description: Deleted (or already absent)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeSuccess"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/recordings/{testSetId}/test-cases/{testCaseId}/mock-mapping:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/testSetId"
      - name: testCaseId
        in: path
        required: true
        schema: { type: string }
        description: Test case name (the mapping doc keys cases by name, not _id).
    get:
      operationId: getMockMapping
      summary: Read the mocks currently linked to a test case
      description: |
        Returns the mock entries in the mapping doc for the named
        test case. Branch-aware via `branch_id` — when set, the
        branch overlay's mapping wins over main's.

        Workflow: AI agents should call this BEFORE editMockMapping
        to inspect what's linked, then issue targeted add / remove
        ops with confidence. Empty result (mocks: []) is normal —
        means no mocks linked yet.

        Requires scope: `read`.
      x-required-scope: read
      tags: [Recordings]
      parameters:
        - name: branch_id
          in: query
          schema: { type: string }
          description: Optional branch overlay id. Absent → reads from main.
      responses:
        "200":
          description: Linked mock entries for this test case
          content:
            application/json:
              schema:
                type: object
                required: [success, mocks]
                properties:
                  success: { type: boolean }
                  mocks:
                    type: array
                    description: Mock entries — empty array when nothing is linked.
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        kind: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: editMockMapping
      summary: Link or unlink a mock from a test case
      description: |
        Targeted mutation of the test case's entry in the mapping doc.
        Add appends a mock entry if not already present; remove drops
        the entry by name. Both idempotent — safe to retry on a network
        blip.

        The MCP layer exposes this as TWO tools (`link_mock` /
        `unlink_mock`) — they both call this endpoint with the
        appropriate `action`. Splitting at the MCP layer keeps each
        tool's description tighter and avoids the LLM having to
        remember the enum spelling.

        Requires scope: `write`.
      x-required-scope: write
      tags: [Recordings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, mock_name]
              properties:
                action:
                  type: string
                  enum: [add, remove]
                mock_name:
                  type: string
                mock_kind:
                  type: string
                  description: Optional. Stamped on the mapping entry; useful when callers want the kind preserved on the mapping doc for downstream readers.
                branch_id:
                  type: string
      responses:
        "200":
          description: Updated mapping
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeMappingEdit"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/recordings/bundle:
    parameters:
      - $ref: "#/components/parameters/appId"
    post:
      operationId: uploadRecordingBundle
      summary: Atomic test set + cases + mocks + mappings ingest
      description: |
        Bundle ingest — creates the test set, every test case, every
        mock, and the mapping doc in a single call. Each step is its
        own DB write; partial failure leaves earlier rows in place,
        callers can replay safely.

        Branch-aware via optional `branch_id` — when set, every row
        lands on the overlay until merge.

        Use this when authoring a recording from scratch (LLM
        workflows, CLI imports). For incremental edits, prefer the
        per-resource endpoints (`createMock`, `createTestCase`, etc.).

        Requires scope: `write`.
      x-required-scope: write
      tags: [Recordings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: Test set name (unique within the app/branch).
                image_name:
                  type: string
                image_tag:
                  type: string
                branch_id:
                  type: string
                smart_set:
                  type: boolean
                  description: >
                    Route the bundle into the smart test set as a branch import
                    (new schema_refs only) instead of creating a legacy test
                    set. Requires branch_id. The CLI sets this only when
                    --smartTestSet is passed and the app has EnableSmartTestSet.
                test_cases:
                  type: array
                  items:
                    type: object
                    required: [name, http_req, http_resp]
                    properties:
                      name: { type: string }
                      http_req: { type: object }
                      http_resp: { type: object }
                      noise:
                        type: object
                        additionalProperties:
                          type: array
                          items: { type: string }
                      mock_names:
                        type: array
                        items: { type: string }
                mocks:
                  type: array
                  description: |
                    Per-mock authoring entries. For each entry, prefer
                    `mock_yaml` (canonical envelope as it lives in
                    mocks.yaml on disk) over `spec`. The typed `spec`
                    object hits the same lowercase-key-drop bug
                    documented on createMock when the input came from
                    on-disk YAML. When both are set on an entry,
                    `mock_yaml` wins.
                  items:
                    type: object
                    # name + kind remain authoritative for the index even
                    # if `mock_yaml` carries its own — the server stamps
                    # these onto the canonical doc post-decode so the
                    # bundle entry is unambiguous.
                    required: [name, kind]
                    properties:
                      name: { type: string }
                      kind: { type: string }
                      spec:
                        type: object
                        description: Typed OSS Mock spec. Prefer mock_yaml.
                      mock_yaml:
                        type: string
                        description: Canonical single-doc mock YAML for this entry.
      responses:
        "200":
          description: Bundle ingest result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeBundleUpload"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/recordings/{testSetId}/test-cases/{testCaseId}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/testSetId"
      - name: testCaseId
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getTestCase
      summary: Get a single test case
      description: "Returns a single recorded test case identified by its friendly **name** (e.g. `test-4` — the name in the recording yaml) within a recording session. Within `(testSetId, branchId)` the name is unambiguous; this is the same identifier callers see in the on-disk recording bundle. Pass `branch_id` to scope the read to a branch overlay (bundle-uploaded test cases on a branch are invisible to main reads). Requires scope: `read`."
      x-required-scope: read
      tags: [Recordings]
      parameters:
        - $ref: "#/components/parameters/branchId"
      responses:
        "200":
          description: Test case details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeTestCase"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    put:
      operationId: updateTestCase
      summary: Update a test case
      description: "Update mutable fields of a recorded test case identified by its friendly **name** (e.g. `test-4` — the name in the recording yaml) within `(testSetId, branchId)`. The body can carry `name` / `http_req` / `http_resp` (response-edit sub-action) AND/OR `noise` (noise sub-action — a replace-style `path → match-substrings` map for non-deterministic fields). Both Case-2a sub-actions documented in the LLM workflow are handled by this single endpoint. Pass `branch_id` to scope the edit to a branch overlay (bundle-uploaded test cases on a branch are invisible to main writes). Requires scope: `write`."
      x-required-scope: write
      tags: [Recordings]
      parameters:
        - $ref: "#/components/parameters/branchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                http_req: { type: object }
                http_resp: { type: object }
                noise:
                  type: object
                  nullable: true
                  description: "Replace-style noise map. Keys are JSON paths (`body.foo.bar` / `header.X-Trace`), values are arrays of match-substrings (empty array means \"ignore this field entirely on diff\"). To merge with existing noise, do GET → modify → PUT. Nullability semantics: **omit the field** (or send JSON `null`) to preserve the existing noise unchanged; **send `{}`** to clear all noise; **send a populated map** to replace. Sending `null` and omitting are equivalent at the server."
                  additionalProperties:
                    type: array
                    items: { type: string }
                  example:
                    body.trace_id: []
                    header.X-Request-Id: []
                branch_id:
                  type: string
                  description: Optional branch overlay id (body alternative to the query param). Either form is accepted; query wins when both are set.
      responses:
        "200":
          description: Updated test case
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeTestCase"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/recordings/{testSetId}/export:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/testSetId"
    get:
      operationId: exportRecording
      summary: Export a recording bundle
      description: "Export a complete recording bundle: test set metadata, all test cases, mocks, and test-to-mock mappings as a single JSON response. Use ?include_mocks=false to exclude mocks. Requires scope: `read`."
      x-required-scope: read
      tags: [Recordings]
      parameters:
        - name: include_mocks
          in: query
          schema:
            type: boolean
            default: true
          description: "Include dependency mocks in the export (default true)."
      responses:
        "200":
          description: Recording bundle
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeRecordingExport"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/recordings/{testSetId}/import:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/testSetId"
    post:
      operationId: importRecording
      summary: Import test case changes into a recording
      description: "Bulk import test case changes: update existing test cases (by ID), insert new ones (without ID), and delete specified test cases. Pass `branch_id` (query or body) to scope the import to a branch overlay. Requires scope: `write`."
      x-required-scope: write
      tags: [Recordings]
      parameters:
        - $ref: "#/components/parameters/branchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test_cases:
                  type: array
                  items:
                    type: object
                    properties:
                      id: { type: string, description: "Existing test case ID for update; omit for insert" }
                      name: { type: string }
                      http_req: { type: object }
                      http_resp: { type: object }
                delete_test_case_ids:
                  type: array
                  items: { type: string }
                  description: "IDs of test cases to delete"
                branch_id:
                  type: string
                  description: Optional branch overlay id (body alternative to the query param). Either form is accepted; query wins.
      responses:
        "200":
          description: Import result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeRecordingImportResult"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Test Reports (integration test run results from k8s-proxy) ───────
  /apps/{appId}/test-reports:
    parameters:
      - $ref: "#/components/parameters/appId"
    get:
      operationId: listTestReports
      summary: List test run reports
      description: |
        Browse legacy /tr test runs for an app. Combine `status` +
        `source` to scope to specific run kinds — e.g. `status=FAILED` +
        `source=ci` shows broken CI runs only. Use `branch_id` to scope
        to a Keploy branch overlay, or `all_branches=true` to list runs
        from every branch alongside main's (without it, a call with no
        `branch_id` returns main's runs only). Use `getTestReportFull`
        for the inflated single-call view with per-test-case diffs +
        mock mismatches.

        CANONICAL ONE-SHOT CALL for "find the latest failed local cloud
        replay" (Phase A1 of the skill):

          listTestReports({appId, branch_id, status: "FAILED", limit: 5})

        Note: `status` is CASE-SENSITIVE. Use the exact enum values
        (`FAILED`, `PASSED`, `RUNNING`, `PENDING`, `IGNORED`, `OBSOLETE`).
        Results are sorted newest-first by `created_at` — the most
        recent run is `data[0]`. ONE call is enough; if `data` is empty
        DO NOT retry with different status / source / branch_id
        permutations — the run genuinely doesn't exist on this branch
        and the dev needs to re-run `keploy cloud replay` first.

        Requires scope: `read`.
      x-required-scope: read
      tags: [Test Reports]
      parameters:
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
        - name: branch_id
          in: query
          required: false
          schema: { type: string }
        - name: all_branches
          in: query
          required: false
          schema: { type: boolean }
        - name: source
          in: query
          required: false
          schema:
            type: string
            enum: [ci, manual]
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [PASSED, FAILED, RUNNING, PENDING, IGNORED, OBSOLETE]
        - name: since
          in: query
          required: false
          schema: { type: integer, format: int64 }
        - name: until
          in: query
          required: false
          schema: { type: integer, format: int64 }
      responses:
        "200":
          description: Test run reports
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeTestRunReportList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-reports/{reportId}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/reportId"
    get:
      operationId: getTestReport
      summary: Get a test run report
      description: |
        Returns the rollup view of a single test run by ID — counts, CI
        metadata, normalize/coverage data. Cheap and lightweight. For
        per-test-case diffs and mock mismatches use `getTestReportFull`.

        Requires scope: `read`.
      x-required-scope: read
      tags: [Test Reports]
      responses:
        "200":
          description: Test run report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeTestRunReport"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-reports/{reportId}/full:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/reportId"
    get:
      operationId: getTestReportFull
      summary: Get a fully-inflated test run report
      description: |
        Returns everything about a single legacy /tr test run in one call:
        the rollup (counts, CI metadata, normalize/coverage data), every
        test-set report, and — when `include_oss_report=true` (default) —
        every per-test-case result with request/response diff and
        `mock_mismatches`. Designed for AI / MCP analysis so the model can
        ground answers in actual diffs without chaining listTestSetReports
        + listTestCaseReports calls.

        Use `mock_mismatches_only=true` to restrict per-test-case rows to
        those with non-empty `mock_mismatches` OR the legacy
        `failure_info.mock_mismatch` fallback (for reports produced by
        replayers older than v3.5.49 that pre-date the top-level
        `mock_mismatches` field). Use `failed_only=true` to restrict
        per-test-case rows to those whose `status` is `FAILED` — covers
        all failure modes (response divergence, schema delta, mock
        mismatch). `failed_only` and `mock_mismatches_only` AND together:
        passing both keeps only tests that are both FAILED and have mock
        mismatches. Use `max_test_cases_per_set` to cap response size on
        large suites; `truncated.test_cases_dropped` reports how many
        were elided.

        Requires scope: `read`.
      x-required-scope: read
      tags: [Test Reports]
      parameters:
        - name: include_oss_report
          in: query
          required: false
          schema: { type: boolean, default: true }
        - name: mock_mismatches_only
          in: query
          required: false
          schema: { type: boolean, default: false }
        - name: failed_only
          in: query
          required: false
          description: |
            When `true`, drops every test case whose `status` is not
            `FAILED` (passed/skipped/pending/running are elided). Use
            this to slim the report down to just the failures the model
            needs to analyze — typically 1–5 cases out of 50. Combine
            with `fields` for the smallest possible response. Combines
            with `mock_mismatches_only` via AND.
          schema: { type: boolean, default: false }
        - name: max_test_cases_per_set
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
        - name: fields
          in: query
          required: false
          description: |
            Optional comma-separated list of response field paths to keep
            inside `data`. Supports dotted nested paths and `[].` for
            array wildcards (e.g. `failed_steps[].diff`,
            `mock_mismatches`). Typical AI use:
            `?fields=failed_steps[].diff,mock_mismatches` — projects the
            ~34k-token full report down to ~5k while preserving the diff
            content the model needs to ground its analysis. Omitting
            `fields` returns the full report as before.
          schema:
            type: array
            items: { type: string }
          style: form
          explode: false
      responses:
        "200":
          description: Fully inflated test run report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeTestRunReportFull"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-reports/{reportId}/test-set-reports:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/reportId"
    get:
      operationId: listTestSetReports
      summary: List test set reports within a run
      description: "Returns per-test-set results within a test run report. Requires scope: `read`."
      x-required-scope: read
      tags: [Test Reports]
      parameters:
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Test set reports
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeTestSetReportList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-reports/{reportId}/test-set-reports/{testSetReportId}/test-cases:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/reportId"
      - $ref: "#/components/parameters/testSetReportId"
    get:
      operationId: listTestCaseReports
      summary: List test case reports
      description: "Returns individual test case results with expected/actual diffs within a test set report. Requires scope: `read`."
      x-required-scope: read
      tags: [Test Reports]
      parameters:
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Test case reports
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeTestCaseReportList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Test Suites ───────────────────────────────────────────────────────
  /apps/{appId}/test-suites:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/branchId"
    get:
      operationId: listTestSuites
      x-required-scope: read
      summary: List test suites
      description: "List test suites for an app. Optional `has_sandbox_test` query param filters by sandbox-test linkage: `true` returns only suites that have a sandbox test (linked=true / test_set_id populated); `false` returns only suites without one. Omit to return every suite. Requires scope: `read`. Supports cursor-based pagination."
      tags: [Test Suites]
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
          description: Number of items per page
        - name: after
          in: query
          schema: { type: string }
          description: Cursor for forward pagination (mutually exclusive with `before`)
        - name: before
          in: query
          schema: { type: string }
          description: Cursor for backward pagination (mutually exclusive with `after`)
        - name: has_sandbox_test
          in: query
          required: false
          schema:
            type: string
            enum: ["true", "false"]
          description: "Filter by sandbox-test linkage. Omit to return every suite."
        - name: q
          in: query
          required: false
          schema: { type: string }
          description: "Substring / regex match on suite name (server-side regex filter). Use for bounded duplicate-checks on large apps so MCP doesn't have to paginate the whole list."
      responses:
        "200":
          description: Paginated test suites
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createTestSuite
      x-required-scope: write
      summary: Create a test suite
      description: "Requires scope: `write`."
      tags: [Test Suites]
      parameters:
        - name: X-Keploy-Validator-Version
          in: header
          required: false
          description: |
            Optional. The enterprise binary stamps the rule-set version it
            pre-validated the suite against. The api-server compares this
            against its own rule set and rejects with 426 if they disagree
            so the user gets an explicit upgrade message instead of a
            silently-accepted suite that fails newer rules at run time.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          description: Test suite created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "426": { $ref: "#/components/responses/UpgradeRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-suites/generate:
    parameters:
      - $ref: "#/components/parameters/appId"
    post:
      operationId: generateTestSuites
      x-required-scope: write
      summary: Generate test suites via AI
      description: "Requires scope: `write`."
      tags: [Test Suites]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateTestSuitesRequest"
      responses:
        "202":
          description: Generation job accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-suites/run:
    parameters:
      - $ref: "#/components/parameters/appId"
    post:
      operationId: runTestSuites
      x-required-scope: write
      summary: Run test suites
      description: "Run test suites against a PUBLIC target URL. DO NOT use for local-app / localhost runs — base_url must be reachable from the SaaS backend (rejects loopback / private IPs as 400 'invalid baseURL'). For localhost runs use the MCP tool record_sandbox_test (keploy agent). Optional sandbox_mode field: \"\"|\"rerecord\"|\"integration_test\" — the sandbox modes are primarily used through MCP's record_sandbox_test / replay_sandbox_test tools. Requires scope: `write`."
      tags: [Test Suites]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunTestSuitesRequest"
      responses:
        "202":
          description: Test run started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-suites/bulk-delete:
    parameters:
      - $ref: "#/components/parameters/appId"
    post:
      operationId: bulkDeleteTestSuites
      x-required-scope: write
      summary: Bulk-delete test suites
      description: "Requires scope: `write`."
      tags: [Test Suites]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test_suite_ids:
                  type: array
                  items: { type: string }
              required: [test_suite_ids]
      responses:
        "200":
          description: Suites deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-suites/{suiteId}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/suiteId"
      - $ref: "#/components/parameters/branchId"
    get:
      operationId: getTestSuite
      x-required-scope: read
      summary: Get a test suite
      description: "Requires scope: `read`."
      tags: [Test Suites]
      responses:
        "200":
          description: Test suite detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    put:
      operationId: updateTestSuite
      x-required-scope: write
      summary: Update a test suite
      description: "Requires scope: `write`."
      tags: [Test Suites]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Test suite updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteTestSuite
      x-required-scope: write
      summary: Delete a test suite
      description: "Requires scope: `write`."
      tags: [Test Suites]
      responses:
        "200":
          description: Test suite deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeDeleted"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-suites/{suiteId}/validate:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/suiteId"
    post:
      operationId: validateTestSuite
      x-required-scope: write
      summary: Validate a test suite
      description: "Run the suite against a public, non-loopback base URL to capture responses and run assertions. DO NOT use for local-app / localhost validation — the SaaS backend rejects private IPs with 500. For local apps, curl endpoints yourself (Bash) and pass the captured responses into create_test_suite directly. Requires scope: `write`."
      tags: [Test Suites]
      responses:
        "202":
          description: Validation job accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Test Runs ─────────────────────────────────────────────────────────
  /apps/{appId}/test-runs:
    parameters:
      - $ref: "#/components/parameters/appId"
    get:
      operationId: listTestRuns
      x-required-scope: read
      summary: List test runs
      description: "List test runs for an app. Optional `kind` query param filters by run kind: `rerecord` (record_sandbox_test runs), `sandbox_run` (replay_sandbox_test runs), or `test_suite_run` (replay_test_suite live runs). Omit to return runs of every kind. Requires scope: `read`."
      tags: [Test Runs]
      parameters:
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
        - name: kind
          in: query
          required: false
          schema:
            type: string
            enum: [rerecord, sandbox_run, test_suite_run]
          description: "Filter by run kind. Omit to return runs of every kind."
      responses:
        "200":
          description: Paginated test runs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-runs/{runId}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/runId"
    get:
      operationId: getTestRun
      x-required-scope: read
      summary: Get a test run
      description: "Requires scope: `read`."
      tags: [Test Runs]
      responses:
        "200":
          description: Test run detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-runs/{runId}/normalize:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/runId"
    post:
      operationId: normalizeTestRun
      x-required-scope: write
      summary: Normalize a test run
      description: "Requires scope: `write`."
      tags: [Test Runs]
      responses:
        "200":
          description: Normalization applied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-runs/{runId}/suite-reports:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/runId"
    get:
      operationId: listSuiteReports
      x-required-scope: read
      summary: List suite reports for a test run
      description: "Requires scope: `read`. Supports cursor-based pagination."
      tags: [Test Runs]
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
          description: Number of items per page
        - name: after
          in: query
          schema: { type: string }
          description: Cursor for forward pagination
        - name: before
          in: query
          schema: { type: string }
          description: Cursor for backward pagination
      responses:
        "200":
          description: Suite reports
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-runs/{runId}/suite-reports/{reportId}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/runId"
      - $ref: "#/components/parameters/reportId"
    get:
      operationId: getSuiteReport
      x-required-scope: read
      summary: Get a suite report
      description: "Requires scope: `read`."
      tags: [Test Runs]
      responses:
        "200":
          description: Suite report detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/test-runs/{runId}/suite-reports/{reportId}/normalize:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/runId"
      - $ref: "#/components/parameters/reportId"
    post:
      operationId: normalizeSuiteReport
      x-required-scope: write
      summary: Normalize a suite report
      description: "Requires scope: `write`."
      tags: [Test Runs]
      responses:
        "200":
          description: Normalization applied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Load Tests ────────────────────────────────────────────────────────
  /apps/{appId}/load-tests:
    parameters:
      - $ref: "#/components/parameters/appId"
    post:
      operationId: startLoadTest
      x-required-scope: write
      summary: Start a load test
      description: "Requires scope: `write`."
      tags: [Load Tests]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "202":
          description: Load test started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }
    get:
      operationId: listLoadTestRuns
      x-required-scope: read
      summary: List load test runs
      description: "Requires scope: `read`. Returns all runs (no pagination)."
      tags: [Load Tests]
      responses:
        "200":
          description: Load test run list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/load-tests/{runId}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/runId"
    get:
      operationId: getLoadTestReport
      x-required-scope: read
      summary: Get a load test report
      description: "Requires scope: `read`."
      tags: [Load Tests]
      responses:
        "200":
          description: Load test report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/load-tests/{runId}/stop:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/runId"
    post:
      operationId: stopLoadTest
      x-required-scope: write
      summary: Stop a running load test
      description: "Requires scope: `write`."
      tags: [Load Tests]
      responses:
        "200":
          description: Load test stopped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/load-tests/{runId}/events:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/runId"
    get:
      operationId: streamLoadTestEvents
      x-required-scope: read
      summary: Stream load test events (SSE)
      description: "Requires scope: `read`. Returns a `text/event-stream`."
      tags: [Load Tests]
      responses:
        "200":
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Generation History ────────────────────────────────────────────────
  /apps/{appId}/generation-history:
    parameters:
      - $ref: "#/components/parameters/appId"
    get:
      operationId: listGenerationHistory
      x-required-scope: read
      summary: List generation history
      description: "Requires scope: `read`. Returns all entries (no pagination)."
      tags: [Generation History]
      responses:
        "200":
          description: Generation history list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/generation-history/{jobId}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - $ref: "#/components/parameters/jobId"
    get:
      operationId: getGenerationHistoryDetails
      x-required-scope: read
      summary: Get generation history details
      description: "Requires scope: `read`."
      tags: [Generation History]
      responses:
        "200":
          description: Generation history detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Branches (Keploy branch lifecycle for CI / MCP) ──────────────────
  /apps/{appId}/branches:
    parameters:
      - $ref: "#/components/parameters/appId"
    get:
      operationId: listBranches
      x-required-scope: read
      summary: List Keploy branches on an app
      description: "Returns every Keploy branch on an app, optionally filtered by status. Used by MCP write tools and CI integrations to enumerate branches without shelling out to the CLI. Requires scope: `read`."
      tags: [Branches]
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [open, review_requested, approved, changes_requested, merged, closed, conflict]
          description: "Optional status filter. Omit to return all branches."
      responses:
        "200":
          description: All branches for the app (no pagination — typical apps have <50 branches; the dashboard renders the full list).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/branches/ci:
    parameters:
      - $ref: "#/components/parameters/appId"
    post:
      operationId: createCIBranch
      x-required-scope: write
      summary: Find-or-create a CI branch
      description: "Creates a new Keploy branch (or returns the existing one) for a CI pipeline run. Idempotent on the (appId, name) pair. Requires scope: `write`."
      tags: [Branches]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, description: "Branch name (e.g., `pr-123`)" }
                git_ref:
                  type: object
                  description: "Optional Git provider context (PR, repo, etc.)"
                  properties:
                    provider: { type: string }
                    repo_full_name: { type: string }
                    pr_number: { type: integer }
                    source_branch: { type: string }
                    target_branch: { type: string }
                    installation_id: { type: integer, format: int64 }
      responses:
        "200":
          description: Branch resolved (created or existing)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Jobs ──────────────────────────────────────────────────────────────
  /jobs:
    get:
      operationId: listJobs
      x-required-scope: read
      summary: List jobs
      description: "Requires scope: `read`."
      tags: [Jobs]
      parameters:
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Job list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /jobs/{jobId}:
    parameters:
      - $ref: "#/components/parameters/jobId"
    get:
      operationId: getJob
      x-required-scope: read
      summary: Get a job
      description: "Requires scope: `read`."
      tags: [Jobs]
      responses:
        "200":
          description: Job detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /jobs/{jobId}/stop:
    parameters:
      - $ref: "#/components/parameters/jobId"
    post:
      operationId: stopJob
      x-required-scope: write
      summary: Stop a running job
      description: "Requires scope: `write`."
      tags: [Jobs]
      responses:
        "200":
          description: Job stopped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /jobs/{jobId}/events:
    parameters:
      - $ref: "#/components/parameters/jobId"
    get:
      operationId: streamJobEvents
      x-required-scope: read
      summary: Stream job events (SSE)
      description: "Requires scope: `read`. Returns a `text/event-stream`."
      tags: [Jobs]
      responses:
        "200":
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /jobs/{jobId}/validation-result:
    parameters:
      - $ref: "#/components/parameters/jobId"
    get:
      operationId: getValidationResult
      x-required-scope: read
      summary: Get job validation result
      description: "Requires scope: `read`."
      tags: [Jobs]
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Company ───────────────────────────────────────────────────────────
  /company/subscription:
    get:
      operationId: getSubscription
      x-required-scope: read
      summary: Get company subscription
      description: "Requires scope: `read`."
      tags: [Company]
      responses:
        "200":
          description: Subscription info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeSubscription"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /company/usage:
    get:
      operationId: getUsage
      x-required-scope: read
      summary: Get company usage
      description: "Requires scope: `read`."
      tags: [Company]
      responses:
        "200":
          description: Usage data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── Users ─────────────────────────────────────────────────────────────
  /users/me:
    get:
      operationId: getCurrentUser
      x-required-scope: read
      summary: Get current user
      description: "Requires scope: `read`. Returns the user associated with the API key."
      tags: [Users]
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ── API Keys ──────────────────────────────────────────────────────────
  /api-keys:
    post:
      operationId: createAPIKey
      x-required-scope: admin
      summary: Create an API key
      description: "Requires scope: `admin`. The raw key is returned only once in the response."
      tags: [API Keys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPIKeyRequest"
      responses:
        "201":
          description: API key created (includes raw key)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeAPIKeyCreated"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "500": { $ref: "#/components/responses/InternalError" }
    get:
      operationId: listAPIKeys
      x-required-scope: admin
      summary: List API keys
      description: "Requires scope: `admin`."
      tags: [API Keys]
      responses:
        "200":
          description: API key list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeAPIKeyList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api-keys/{keyId}:
    parameters:
      - name: keyId
        in: path
        required: true
        schema: { type: string }
    delete:
      operationId: revokeAPIKey
      x-required-scope: admin
      summary: Revoke an API key
      description: "Requires scope: `admin`."
      tags: [API Keys]
      responses:
        "200":
          description: API key revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvelopeDeleted"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/smart-set/cases:
    parameters:
      - $ref: "#/components/parameters/appId"
    get:
      operationId: listSmartTestCases
      summary: List smart test cases
      description: |
        Returns the app's smart test set — the deduped, content-addressed set of
        API contracts maintained across recording sessions. Pass `branch_id` to
        get a branch's curated view (main cases ⊕ that branch's edits); absent →
        the main view. `include_obsolete=true` includes cases a user marked
        skip-in-replay. Requires scope: `read`.
      x-required-scope: read
      tags: [SmartSet]
      parameters:
        - $ref: "#/components/parameters/branchId"
        - name: include_obsolete
          in: query
          schema: { type: boolean, default: false }
          description: Include cases marked obsolete (skip-in-replay).
      responses:
        "200":
          description: Smart test cases
          content:
            application/json:
              schema: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/smart-set/cases/{name}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - name: name
        in: path
        required: true
        schema: { type: string }
        description: Smart-set-local case name (e.g. "test-3").
    patch:
      operationId: updateSmartTestCase
      summary: Edit a smart test case (branch-only)
      description: |
        Edit a smart case on a branch. `branch_id` is REQUIRED — recording-driven
        main is never hand-edited; edits live on a branch, are reviewed via the
        branch diff, then merged. Value edits (noise/assertions/golden response
        body/description/mock links) write in place; SHAPE edits (endpoint/method/
        status via request/response) recompute the contract identity (schema_ref)
        and, on collision with another case, return a conflict in the body rather
        than silently merging. Patch fields are JSON strings so the wire stays
        unambiguous; only provided fields are applied. Requires scope: `write`.
      x-required-scope: write
      tags: [SmartSet]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [branch_id]
              properties:
                branch_id: { type: string, description: Branch UUID — required (edits are branch-only). }
                noiseJson: { type: string, description: "JSON map<string,[]string> of fields to ignore on compare." }
                assertionsJson: { type: string, description: JSON assertions map. }
                description: { type: string }
                respBody: { type: string, description: Golden response body override (value edit). }
                requestJson: { type: string, description: "Full HTTPReq JSON (SHAPE edit — recomputes schema_ref)." }
                responseJson: { type: string, description: "Full HTTPResp JSON (SHAPE edit)." }
                mockReferencesJson: { type: string, description: "JSON array of {name,kind} — relink which mocks this case uses." }
      responses:
        "200":
          description: Updated case, or a schema_ref conflict
          content:
            application/json:
              schema: { type: object }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteSmartTestCase
      summary: Delete a smart test case (branch-only)
      description: |
        Delete a smart case on a branch — a tombstone overlay; main is untouched
        until merge. `branch_id` is REQUIRED: edits, including delete, are
        branch-only. Requires scope: `write`.
      x-required-scope: write
      tags: [SmartSet]
      parameters:
        - name: branch_id
          in: query
          required: true
          schema: { type: string }
          description: Branch UUID — required (delete is branch-only).
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema: { type: object }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/smart-set/cases/{name}/obsolete:
    parameters:
      - $ref: "#/components/parameters/appId"
      - name: name
        in: path
        required: true
        schema: { type: string }
        description: Smart-set-local case name (e.g. "test-3").
    post:
      operationId: setSmartTestCaseObsolete
      summary: Mark a smart test case obsolete / restore it (branch-only)
      description: |
        Toggle a smart case's obsolete flag (skip-in-replay) on a branch — an
        overlay edit. `branch_id` is REQUIRED: edits, including obsolete, are
        branch-only. Requires scope: `write`.
      x-required-scope: write
      tags: [SmartSet]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [obsolete, branch_id]
              properties:
                obsolete: { type: boolean }
                branch_id: { type: string, description: Branch UUID — required (obsolete is branch-only). }
      responses:
        "200":
          description: Updated case
          content:
            application/json:
              schema: { type: object }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /apps/{appId}/smart-set/mocks/{name}:
    parameters:
      - $ref: "#/components/parameters/appId"
      - name: name
        in: path
        required: true
        schema: { type: string }
        description: Smart-set mock name (e.g. "mock-2").
    put:
      operationId: upsertSmartMock
      summary: Create or replace a smart-set mock's content (branch-only)
      description: |
        Write/replace a smart-set mock's content (a single NetworkTrafficDoc
        YAML) on a branch. `branch_id` is REQUIRED — main mocks come from
        recording and refresh via re-record; hand edits live on a branch, are
        reviewed via the branch diff, then merged. Requires scope: `write`.
      x-required-scope: write
      tags: [SmartSet]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [branch_id, mockYaml]
              properties:
                branch_id: { type: string, description: Branch UUID — required (edits are branch-only). }
                mockYaml: { type: string, description: "The mock as a NetworkTrafficDoc YAML document." }
      responses:
        "200":
          description: Upserted
          content:
            application/json:
              schema: { type: object }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteSmartMock
      summary: Delete a smart-set mock (branch-only)
      description: |
        Tombstone a smart-set mock on a branch. `branch_id` is REQUIRED — edits
        are branch-only. Requires scope: `write`.
      x-required-scope: write
      tags: [SmartSet]
      parameters:
        - name: branch_id
          in: query
          required: true
          schema: { type: string }
          description: Branch UUID — required (edits are branch-only).
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema: { type: object }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

# ─── Components ───────────────────────────────────────────────────────────
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: "Personal Access Token (`kep_`-prefixed). Generate from Settings > API Keys."

  parameters:
    appId:
      name: appId
      in: path
      required: true
      schema: { type: string }
    suiteId:
      name: suiteId
      in: path
      required: true
      schema: { type: string }
    branchId:
      name: branch_id
      in: query
      required: false
      description: |
        Optional Keploy branch UUID. When set, scopes the read/write to that branch's overlay
        (copy-on-write — see /apps/{appId}/branches). When absent or empty, operations target
        the main branch (the historical default). Required for writes against a branch (the
        api-server's branch gate rejects 400 otherwise); reads are tolerant of absence.
      schema: { type: string }
    runId:
      name: runId
      in: path
      required: true
      schema: { type: string }
    reportId:
      name: reportId
      in: path
      required: true
      schema: { type: string }
    testSetId:
      name: testSetId
      in: path
      required: true
      schema: { type: string }
    testSetReportId:
      name: testSetReportId
      in: path
      required: true
      schema: { type: string }
    clusterId:
      name: clusterId
      in: path
      required: true
      schema: { type: string }
    jobId:
      name: jobId
      in: path
      required: true
      schema: { type: string }
    offset:
      name: offset
      in: query
      description: |
        Zero-based pagination offset. Negative values are rejected — the
        handler also clamps to 0 as a defence-in-depth fallback.
      schema:
        type: integer
        default: 0
        minimum: 0
    limit:
      name: limit
      in: query
      description: |
        Page size. Defaults to 20 when omitted; `limit=0` is also treated
        as "use default" (so existing clients sending an explicit zero
        keep the prior behaviour). Capped at 100 — the spec rejects
        higher values with 400 so callers fail loudly instead of being
        silently clamped, and the handler enforces the same cap as a
        defence-in-depth fallback.
      schema:
        type: integer
        default: 20
        minimum: 0
        maximum: 100

  schemas:
    # ── Envelope / Meta ───────────────────────────────────────────────
    Envelope:
      type: object
      properties:
        data: {}
        error:
          $ref: "#/components/schemas/APIError"
        meta:
          $ref: "#/components/schemas/Meta"

    Meta:
      type: object
      properties:
        request_id: { type: string }
        trace_id: { type: string }
        timestamp: { type: string, format: date-time }
        pagination:
          $ref: "#/components/schemas/Pagination"

    Pagination:
      type: object
      properties:
        has_next_page: { type: boolean }
        has_previous_page: { type: boolean }
        next_cursor: { type: string, nullable: true }
        previous_cursor: { type: string, nullable: true }
        total_count: { type: integer, nullable: true }

    APIError:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        details:
          type: array
          items:
            $ref: "#/components/schemas/ErrorDetail"

    ErrorDetail:
      type: object
      properties:
        field: { type: string }
        message: { type: string }

    # ── Domain objects ────────────────────────────────────────────────
    AppResponse:
      type: object
      description: Lightweight app shape returned by listApps. Single-app reads (getApp/updateApp/createApp) return the full `App` schema below instead.
      properties:
        id: { type: string }
        name: { type: string }
        endpoint: { type: string }
        cid: { type: string }
        created_at: { type: integer, format: int64 }
        updated_at: { type: integer, format: int64 }

    # Full app shape returned by getApp / updateApp / createApp. Carries
    # the runtime-config fields Claude needs to diagnose + patch a
    # failing test suite (auth misconfig, missing custom variable, etc.)
    # via the read→patch→retry loop. Loose schema (additionalProperties:
    # true) because the underlying models.App carries many ancillary
    # fields the AI typically ignores; the listed properties are the
    # canonical surface for AI inspection and updateApp patches.
    App:
      type: object
      additionalProperties: true
      properties:
        id: { type: string }
        name: { type: string }
        endpoint: { type: string }
        cid: { type: string }
        auth:
          $ref: "#/components/schemas/Auth"
        appLevelCustomVariables:
          type: array
          description: Global key→value pairs shared across every suite. Reference in step bodies/urls/headers/asserts as `{{key}}`. Patch one variable at a time via updateApp.app_level_custom_variables (singular ExtractInput with Action add/update/delete).
[...]
